<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>
</head>

<body>

    <%- include('../../partials/header'); %>

        <main class="container">
            <a href="/emergencies/<%= excessive_emission.concentration_id %>/excessive_emission" class="btn btn-outline-info my-3">
                Go back
            </a>
            <h1 class="py-3">
                Calculate excessive emission for <%= excessive_emission.pollutant_name %> | <%= excessive_emission.object_name %>
            </h1>
            <div class="card">
                <h3 class="card-header">
                    Розрахунок безрозмірного показнику відносної небезпечності
                </h3>
                <div class="card-body">
                    <div style="white-space-collapse: preserve; text-align: center">A = 1/ГДК</div>
                    <form action="/emergencies/<%= excessive_emission.concentration_id %>/calculate_excessive_emission/a" method="post" class="row">
                        <div class="form-group d-none">
                            <label>Concentratiod id:</label>
                            <input type="number" min="0" max="9999" step="any" class="form-control" name="id"
                                value="<%= excessive_emission.concentration_id %>" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label>ГДК, середньодобова граничнодопустима концентрація, мг/куб.м.</label>
                            <input type="number" min="0" max="9999" step="any" class="form-control" name="gdk"
                                value="<%= gdk %>" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-info mt-3" value="Calculate" />
                        </div>
                    </form>
                    <div class="alert alert-info mt-2" role="alert">
                        a = <%= a %>, безрозмірний показник відносної небезпечності забруднюючої речовини, т
                    </div>
                </div>
            </div>     
        </main>

        <%- include('../../partials/footer'); %>

</body>

</html>