<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>
</head>

<body>

    <%- include('../../partials/header'); %>

        <main class="container">
            <h1 class="py-3">
                Calculate risk for <%= concentration.pollutant_name %> | <%= concentration.object_name %>
            </h1>
            <div class="card">
                <h1 class="card-header">
                    Визначення середньої
                    добової дози
                </h1>
                <div class="card-body">
                    <div style="white-space-collapse: preserve; text-align: center">
                                    [(Ca * Tout * Vout) + + (Ch * Tin * Vin)] * EF * ED
            ADD/LADD = ---------------------------------------------------
                            (BW * AT * 365)
                    </div>
                    <form action="/concentrations/calculate_risk/<%= concentration.concentration_id %>" method="post" class="row">
                        <div class="form-group d-none">
                            <label>Concentratiod id:</label>
                            <input type="number" min="0" max="9999" step="any" class="form-control" name="id"
                                value="<%= concentration.concentration_id %>" autocomplete="off">
                        </div>
                        <div class="form-group col-6">
                            <label>Ca:</label>
                            <input type="number" min="0" max="9999" step="any" class="form-control" name="ca"
                                value="<%= ca %>" autocomplete="off">
                        </div>
                        <div class="form-group col-6">
                            <label>Ch:</label>
                            <input type="number" min="0" max="9999" step="any" class="form-control" name="ch" 
                                value="<%= ch %>" autocomplete="off">
                        </div>
                        <div class="form-group col-6">
                            <label>Tout:</label>
                            <input type="number" min="0" max="9999" step="any" class="form-control" name="tout" value="<%= tout %>"
                                autocomplete="off">
                        </div>
                        <div class="form-group col-6">
                            <label>Tin:</label>
                            <input type="number" min="0" max="9999" step="any" class="form-control" name="tin" value="<%= tin %>"
                                autocomplete="off">
                        </div>
                        <div class="form-group col-6">
                            <label>Vout:</label>
                            <input type="number" min="0" max="9999" step="any" class="form-control" name="vout" value="<%= vout %>" autocomplete="off">
                        </div>
                        <div class="form-group col-6">
                            <label>Vin:</label>
                            <input type="number" min="0" max="9999" step="any" class="form-control" name="vin" value="<%= vin %>" autocomplete="off">
                        </div>
                        <div class="form-group col-6">
                            <label>EF:</label>
                            <input type="number" min="0" max="9999" step="any" class="form-control" name="ef" value="<%= ef %>" autocomplete="off">
                        </div>
                        <div class="form-group col-6">
                            <label>ED:</label>
                            <input type="number" min="0" max="9999" step="any" class="form-control" name="ed" value="<%= ed %>" autocomplete="off">
                        </div>
                        <div class="form-group col-6">
                            <label>BW:</label>
                            <input type="number" min="0" max="9999" step="any" class="form-control" name="bw" value="<%= bw %>" autocomplete="off">
                        </div>
                        <div class="form-group col-6">
                            <label>AT:</label>
                            <input type="number" min="0" max="9999" step="any" class="form-control" name="at" value="<%= at %>" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-info mt-3" value="Calculate" />
                        </div>
                    </form>
                    <div class="alert alert-info mt-2" role="alert">
                        ADD/LOAD = <%= result %>
                    </div>
                </div>
            </div>
           
        </main>

        <%- include('../../partials/footer'); %>

</body>

</html>