<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>
</head>

<body>

    <%- include('../../partials/header'); %>
        <main class="container">
            <a href="/concentrations/<%= risk.concentration_id %>/risks" class="btn btn-outline-info my-3">
                Go back
            </a>
            <h1 class="py-3">
                Calculate risk for <%= risk.pollutant_name %> | <%= risk.object_name %>
            </h1>
            <div class="card">
                <h1 class="card-header">
                    Розрахунок неканцерогенного ризику для здоров'я населення
                </h1>
                <div class="card-body">
                    <div style="white-space-collapse: preserve; text-align: center">HQ = C /RfC</div>
                    <form action="/concentrations/<%= risk.concentration_id %>/calculate_risk/hq" method="post" class="row">
                        <div class="form-group d-none">
                            <label>Concentratiod id:</label>
                            <input type="number" min="0" max="9999" step="any" class="form-control" name="id"
                                value="<%= risk.concentration_id %>" autocomplete="off">
                        </div>
                        <div class="form-group col-6">
                            <label>С, рівень впливу речовини, мг/куб.м;</label>
                            <input type="number" min="0" max="9999" step="any" class="form-control" name="c" value="<%= risk.concentration_value %>"
                                autocomplete="off">
                        </div>
                        <div class="form-group col-6">
                            <label>Rfc, безпечний рівень впливу, мг/куб.м</label>
                            <input type="number" min="0" step="any" class="form-control" name="rfc" value="<%= rfc %>"
                                autocomplete="off">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-info mt-3" value="Calculate" />
                        </div>
                    </form>
                    <div class="alert alert-info mt-2" role="alert">
                        HQ = <%= hq %>, коефіцієнт небезпеки впливу речовини
                    </div>
                    <% if (hq > 1 ) { %>
                            <div class="alert alert-danger" role="alert">Імовірність розвитку шкідливих ефектів
                            зростає пропорційно збільшенню HQ</div>
                        <% } else if ( hq === 1) { %>
                            <div class="alert alert-warning" role="alert">Гранична величина, що не потребує термінових
                            заходів, однак не може розглядатися як досить
                            прийнятна</div>
                        <% } else { %>
                            <div class="alert alert-success" role="alert">Ризик виникнення шкідливих ефектів розглядають як зневажливо малий</div>
                        <% } %>
                </div> 
            </div>

        </main>

        <%- include('../../partials/footer'); %>

</body>

</html>