<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    
    <%- include('../partials/header'); %>

    <main class="container">
    
        <div class="card">
            <h1 class="card-header">
                <%= object.name %> | Edit
            </h1>
            <div class="card-body">
                <form action="/objects/update/<%= object.object_id %> " method="post">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" name="name" value="<%= object.name %>" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>Acvity:</label>
                        <input type="text" class="form-control" name="activity" value="<%= object.activity %>" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>Address:</label>
                        <input type="text" class="form-control" name="address" value="<%= object.address %>" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-info mt-3" value="Save" />
                    </div>
                </form>
            </div>
        </div>
    </main>

    <%- include('../partials/footer'); %>

</body>

</html>